@model OrderModel

<h1 class="h3">Sipariş Detayları</h1>
<hr>

@if (Model.OrderItems.Count == 0)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning">
                Mevcut bir siparişiniz bulunmuyor.
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <div class="text-left">
                <h4>Sipariş Ürünleri</h4>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Toplam</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems)
                    {
                        <tr>
                            <td>
                                <img src="~/img/@item.ImageUrl" width="80" alt="Ürün Resmi">
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Price.ToString("c")</td>
                            <td>@item.Quantity</td>
                            <td>@((item.Quantity * item.Price).ToString("c"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <div class="text-left">
                <h4>Sipariş Özeti</h4>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Sipariş Numarası</th>
                        <td>@Model.OrderId</td>
                    </tr>
                    <tr>
                        <th>Sipariş Tarihi</th>
                        <td>@Model.Date().ToString()</td>
                    </tr>
                    <tr>
                        <th>Toplam Tutar</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                    <tr>
                        <th>Kargo Ücreti</th>
                        <td>Ücretsiz</td>
                    </tr>
                    <tr>
                        <th>Sipariş Toplamı</th>
                        <td>@Model.TotalPrice().ToString("c")</td>
                    </tr>
                </tbody>
            </table>

            @* <div class="text-left">
                <h5>Adres Bilgileri</h5>
                <address>
                    <strong>@Model.ShippingAddress.Name</strong><br>
                    @Model.ShippingAddress.StreetAddress<br>
                    @Model.ShippingAddress.City, @Model.ShippingAddress.ZipCode<br>
                    @Model.ShippingAddress.Country
                </address>
            </div> *@

            <div class="text-center">
                <a href="/" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-left fa-fw"></i> Alışverişe Devam Et
                </a>
                <a href="/checkout" class="btn btn-primary">
                    <i class="fa fa-arrow-circle-right fa-fw"></i> Ödeme Yap
                </a>
            </div>
        </div>
    </div>
}
